@media(max-width:450px){
    .logo p{
        font-size: 1.4rem;
    }
    .search-element .form-control{
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem; 
    }
    .search-element h3{
        font-size: 1.4rem;
    }
    .search-list{
        width: 90%;
        right: 50%;
        transform: translatex(50%);
    }
    .search-list .search-list-item{
        width: 100%;
    }
    .movie-misc-info{
        flex-direction: column;
    }
    .movie-misc-info li:nth-child(2){
        margin: 0.8rem 0;
    }
}
@media(min-width:800px){
    .search-element{
        flex-direction: row;
    }
    .search-element h3{
        margin-bottom: 0;

    }
    .result-grid{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
  
    }
    .movie-info{
        text-align: left;
        padding-top: 0;

    }
    .movie-info .movie-misc-info{
        justify-content: flex-start;
        padding: 0;
    }
    .movie-info .plot{
        margin-left: 0;
    }
    .movie-info .writer{
        padding-left: 0;
    margin-left: 0;
    }
}